body {
  background-color: #303030;
  color: #aaa;
  height: auto; }

.changestyle:hover {
  box-shadow: #292929 1px 1px, #292929 2px 2px, #292929 3px 3px, #292929 4px 4px, #292929 5px 5px, #292929 6px 6px, #292929 7px 7px, #2a2a2a 8px 8px, #2a2a2a 9px 9px, #2a2a2a 10px 10px, #2b2b2b 11px 11px, #2b2b2b 12px 12px, #2c2c2c 13px 13px, #2c2c2c 14px 14px, #2c2c2c 15px 15px, #2d2d2d 16px 16px, #2d2d2d 17px 17px, #2e2e2e 18px 18px, #2e2e2e 19px 19px, #2e2e2e 20px 20px, #2f2f2f 21px 21px, #2f2f2f 22px 22px, #303030 23px 23px; }

.img {
  transition: all 0.5s ease; }
  .img:hover {
    box-shadow: #292929 1px 1px, #292929 2px 2px, #292929 3px 3px, #292929 4px 4px, #292929 5px 5px, #292929 6px 6px, #292929 7px 7px, #292929 8px 8px, #292929 9px 9px, #292929 10px 10px, #292929 11px 11px, #292929 12px 12px, #292929 13px 13px, #292929 14px 14px, #292929 15px 15px, #292929 16px 16px, #292929 17px 17px, #2a2a2a 18px 18px, #2a2a2a 19px 19px, #2a2a2a 20px 20px, #2a2a2a 21px 21px, #2b2b2b 22px 22px, #2b2b2b 23px 23px, #2b2b2b 24px 24px, #2b2b2b 25px 25px, #2c2c2c 26px 26px, #2c2c2c 27px 27px, #2c2c2c 28px 28px, #2c2c2c 29px 29px, #2c2c2c 30px 30px, #2d2d2d 31px 31px, #2d2d2d 32px 32px, #2d2d2d 33px 33px, #2d2d2d 34px 34px, #2e2e2e 35px 35px, #2e2e2e 36px 36px, #2e2e2e 37px 37px, #2e2e2e 38px 38px, #2f2f2f 39px 39px, #2f2f2f 40px 40px, #2f2f2f 41px 41px, #2f2f2f 42px 42px, #303030 43px 43px; }

#git {
  color: #CCC;
  float: left;
  padding-left: 4px;
  font-size: 40px;
  padding-top: 3px; }
  #git:hover {
    color: #D9D9D9; }
  #git:active {
    color: #8C8C8C; }

#hatena {
  color: #5279E7;
  padding-top: 10px;
  padding-left: 9px;
  float: left;
  font-size: 25px; }
  #hatena:hover {
    color: #7498FF; }
  #hatena:active {
    color: #3B58A7; }

#twit {
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 30px;
  color: #55ACEE; }
  #twit:hover {
    color: #75C3FF; }
  #twit:active {
    color: #3E7EAE; }

#face {
  float: left;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 30px;
  color: #5986E4; }
  #face:hover {
    color: #7DA7FF; }
  #face:active {
    color: #4061A4; }

#line {
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 30px;
  color: #58CD1C; }
  #line:hover {
    color: #86D55D; }
  #line:active {
    color: #214D0B; }

#amazon {
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 30px;
  color: #FC9A18; }
  #amazon:hover {
    color: #FCB658; }
  #amazon:active {
    color: #AF6808; }

#pagetop {
  background-color: #303030; }

.shares:hover, .minileft:hover, .cont:hover {
  box-shadow: #2c2c2c 1px 1px, #2c2c2c 2px 2px, #2c2c2c 3px 3px, #2c2c2c 4px 4px, #2d2d2d 5px 5px, #2d2d2d 6px 6px, #2e2e2e 7px 7px, #2e2e2e 8px 8px, #2f2f2f 9px 9px, #303030 10px 10px; }
