.menus h5, .title, #pagetop, .shares, .minileft, .cont h5 {
  color: #bf004c; }
  .menus h5:hover, .title:hover, #pagetop:hover, .shares:hover, .minileft:hover, .cont h5:hover {
    color: #ff1975; }
  .menus h5:active, .title:active, #pagetop:active, .shares:active, .minileft:active, .cont h5:active {
    color: #7f0033; }

.index {
  color: #bf004c; }

.icon, .minileft, .cont, .leftunderborder, #pagetop, .upyazi, #pagetop:hover > .upyazi, #pagetop:active > .upyazi, .shares {
  border-color: #bf004c; }
  .icon:hover, .minileft:hover, .cont:hover, .leftunderborder:hover, #pagetop:hover, .upyazi:hover, #pagetop:hover > .upyazi:hover, #pagetop:active > .upyazi:hover, .shares:hover {
    border-color: #ff1975; }
  .icon:active, .minileft:active, .cont:active, .leftunderborder:active, #pagetop:active, .upyazi:active, #pagetop:hover > .upyazi:active, #pagetop:active > .upyazi:active, .shares:active {
    border-color: #7f0033; }
