.cnt {
  margin-top: 10px; }

.about {
  height: 400px; }

.btns {
  margin-bottom: 20px; }

.project {
  margin: 5px !important; }

.center {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center; }

@font-face {
  font-family: "kozEL";
  src: url(KozGoPr6N-ExtraLight.otf); }
@font-face {
  font-family: "kozL";
  src: url(KozGoPr6N-Light.otf); }
@font-face {
  font-family: "social";
  src: url(fonts/icons/WebIconFonts.otf); }
@font-face {
  font-family: "Edwin";
  src: url(itcedscr.ttf); }
@font-face {
  font-family: "entypo";
  src: url(entypo.ttf); }
#num3, #num4 {
  margin-bottom: 400px; }

h5 {
  margin-top: 3px;
  padding-bottom: 0px !important; }

body {
  font-family: "kozL";
  padding-top: 65px;
  width: auto;
  background-color: #303030;
  color: #aaa; }

h3 {
  color: #aaa; }

.menus h5 {
  color: #bf004c;
  border-bottom: solid 1.75px;
  margin-bottom: 0;
  width: 125px;
  transition: all 0.3s ease-out; }
  .menus h5:hover {
    color: #ff1975;
    margin-bottom: 0;
    width: 150px; }
  .menus h5:active {
    color: #7f0033;
    margin-bottom: 0;
    border-bottom: solid 1.75px;
    width: 150px; }

.sidebar {
  position: fixed; }

.underline {
  padding-bottom: none !important;
  border-bottom: solid 2px;
  margin-bottom: 10px;
  width: 160px; }

.changestyle {
  right: 0px;
  width: 105px;
  position: fixed;
  height: 55px;
  transition: all 0.5s ease;
  overflow: hidden; }
  .changestyle:hover {
    box-shadow: #292929 1px 1px, #292929 2px 2px, #292929 3px 3px, #292929 4px 4px, #292929 5px 5px, #292929 6px 6px, #292929 7px 7px, #2a2a2a 8px 8px, #2a2a2a 9px 9px, #2a2a2a 10px 10px, #2b2b2b 11px 11px, #2b2b2b 12px 12px, #2c2c2c 13px 13px, #2c2c2c 14px 14px, #2c2c2c 15px 15px, #2d2d2d 16px 16px, #2d2d2d 17px 17px, #2e2e2e 18px 18px, #2e2e2e 19px 19px, #2e2e2e 20px 20px, #2f2f2f 21px 21px, #2f2f2f 22px 22px, #303030 23px 23px; }

.themeset {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-right: 2px;
  transition: all 0.2s ease; }
  .themeset:hover {
    transform: scale(1.3); }
  .themeset:active {
    transform: scale(1); }

.wb {
  background-color: white;
  border: solid 1px #025d8c; }
  .wb:hover {
    border-color: #0390d8; }
  .wb:active {
    border-color: #01334c; }

.wr {
  background-color: white;
  border: solid 1px #bf004c; }
  .wr:hover {
    border-color: #ff1975; }
  .wr:active {
    border-color: #7f0033; }

.bb {
  background-color: #303030;
  border: solid 2px #025d8c; }
  .bb:hover {
    border-color: #0390d8; }
  .bb:active {
    border-color: #01334c; }

.br {
  background-color: #303030;
  border: solid 2px #bf004c; }
  .br:hover {
    border-color: #ff1975; }
  .br:active {
    border-color: #7f0033; }

.lowmargin {
  margin-bottom: 2px; }

.img {
  transition: all 0.5s ease; }
  .img:hover {
    box-shadow: #292929 1px 1px, #292929 2px 2px, #292929 3px 3px, #292929 4px 4px, #292929 5px 5px, #292929 6px 6px, #292929 7px 7px, #292929 8px 8px, #292929 9px 9px, #292929 10px 10px, #292929 11px 11px, #292929 12px 12px, #292929 13px 13px, #292929 14px 14px, #292929 15px 15px, #292929 16px 16px, #292929 17px 17px, #2a2a2a 18px 18px, #2a2a2a 19px 19px, #2a2a2a 20px 20px, #2a2a2a 21px 21px, #2b2b2b 22px 22px, #2b2b2b 23px 23px, #2b2b2b 24px 24px, #2b2b2b 25px 25px, #2c2c2c 26px 26px, #2c2c2c 27px 27px, #2c2c2c 28px 28px, #2c2c2c 29px 29px, #2c2c2c 30px 30px, #2d2d2d 31px 31px, #2d2d2d 32px 32px, #2d2d2d 33px 33px, #2d2d2d 34px 34px, #2e2e2e 35px 35px, #2e2e2e 36px 36px, #2e2e2e 37px 37px, #2e2e2e 38px 38px, #2f2f2f 39px 39px, #2f2f2f 40px 40px, #2f2f2f 41px 41px, #2f2f2f 42px 42px, #303030 43px 43px; }

.sizeset {
  width: 150px !important;
  margin-bottom: 5px; }

.title {
  transition: all 0.5s ease;
  color: #bf004c;
  font-family: "Edwin" !important;
  font-size: 100px;
  width: 150px;
  height: 150px;
  border: solid 2px;
  border-radius: 50%;
  padding-left: 2px;
  padding-top: 25px;
  margin-left: 0px;
  margin-bottom: 10px; }
  .title:hover {
    color: #ff1975; }
  .title.after {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); }

.share {
  margin-top: 5px;
  margin-bottom: 5px; }

.helUL {
  font-family: "helUL";
  font-weight: 100; }

.links {
  margin-right: 3px;
  width: 50px;
  height: 50px;
  font-family: "social";
  border: solid 2px;
  border-radius: 50%;
  transition: all 0.3s ease; }
  .links:hover {
    transform: scale(1.13); }
  .links:active {
    transform: scale(1); }

#git {
  color: #CCC;
  float: left;
  padding-left: 4px;
  font-size: 40px;
  padding-top: 3px; }
  #git:hover {
    color: #D9D9D9; }
  #git:active {
    color: #8C8C8C; }

#hatena {
  color: #5279E7;
  padding-top: 10px;
  padding-left: 9px;
  float: left;
  font-size: 25px; }
  #hatena:hover {
    color: #7498FF; }
  #hatena:active {
    color: #3B58A7; }

#twit {
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 30px;
  color: #55ACEE; }
  #twit:hover {
    color: #75C3FF; }
  #twit:active {
    color: #3E7EAE; }

#face {
  float: left;
  padding-top: 8px;
  padding-left: 16px;
  font-size: 30px;
  color: #5986E4; }
  #face:hover {
    color: #7DA7FF; }
  #face:active {
    color: #4061A4; }

#line {
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 30px;
  color: #58CD1C; }
  #line:hover {
    color: #86D55D; }
  #line:active {
    color: #214D0B; }

#amazon {
  float: left;
  padding-top: 8px;
  padding-left: 8px;
  font-size: 30px;
  color: #FC9A18; }
  #amazon:hover {
    color: #FCB658; }
  #amazon:active {
    color: #AF6808; }

h1 {
  font-family: "kozEL";
  color: black;
  margin-bottom: 0px; }

.kodukal {
  font-family: "kozL"; }

p {
  font-family: "kozL" !important; }

.index {
  color: #bf004c;
  margin-top: 25px;
  border-bottom: solid 2px;
  padding-bottom: 2px !important; }

.leftunderborder {
  border-left: solid 10px #bf004c;
  padding-bottom: 10px;
  border-bottom: solid 2px #bf004c;
  padding-left: 10px; }
  .leftunderborder:hover {
    border-color: #ff1975; }

.contents {
  padding-bottom: 140px; }

.footter {
  text-align: center;
  color: black; }

.footter #copywrite {
  font-family: "kozL"; }

.footter #links {
  font-family: "social";
  font-size: 22px; }

.footter #links #et {
  margin-top: 1px !important;
  font-family: "entypo";
  font-size: 22px; }

.tab-content {
  text-align: left !important;
  font-family: "kozL" !important; }

#modals {
  text-align: center; }

h2 {
  font-family: "kozL" !important; }

html, body {
  height: auto; }

#loader {
  width: 100px;
  height: 100px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px; }

#fade {
  width: 100%;
  height: 100%;
  display: none;
  background-color: #FFFFFF;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 50; }

#wrap {
  width: 100%;
  position: relative;
  height: auto !important;
  height: 100%;
  min-height: 100%; }

.loadtitle {
  color: #025d8c;
  font-family: "Edwin" !important;
  font-size: 50px;
  width: 75px;
  height: 75px;
  border: solid 2px;
  border-radius: 50%;
  padding-left: 0px;
  padding-top: 12px; }

#footer {
  height: 140px;
  position: absolute;
  bottom: 0;
  width: 100%; }

.share {
  margin-left: 3% !important; }

.btn, .drawer {
  margin-bottom: 10px; }

.drawer {
  text-align: center; }

h1.lead {
  border-bottom: 1px dotted #ccc;
  margin-bottom: 30px; }

h4.lead {
  margin-bottom: 10px; }

#icon_map ul li {
  font-size: 16px; }

.smallify {
  font-size: 13px; }

.modal h2, .modal .btn {
  margin: 5% 0 20px; }

.ttip.example {
  float: left;
  background: #eee;
  border: 1px dotted #ccc;
  padding: 20px; }
