@charset"utf-8";
$primaryblue: #025D8C;
$hoverblue: #0390D8;
$activeblue: #01334C;
$primaryred: #BF004C;
$hoverred: #FF1975;
$activered: #7F0033;
$backgroundblack: #303030;
$backgroundwhite: #fff;
.menus h5, .title, #pagetop, .shares, .minileft, .cont h5{
	color: $primaryred;
	&:hover{
		color: $hoverred;
	}
	&:active{
		color: $activered;
	}
}
.index{
	color: $primaryred;
}
.icon, .minileft, .cont, .leftunderborder, #pagetop, .upyazi, #pagetop:hover > .upyazi, #pagetop:active > .upyazi, .shares{
	border-color: $primaryred;
	&:hover{
		border-color: $hoverred;
	}
	&:active{
		border-color: $activered;
	}
}